* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#pong {
    width: 100%;
    height: 100vh;
    background: #000 url("../img/background-1.jpg") center center no-repeat;
    background-size: cover;
}

#pong #pong-playground {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    cursor: default;
}

#pong #pong-playground #racket {
    width: 200px;
    height: 25px;
    background: #fff;
    border-radius: 40px;
}

#pong #pong-playground #ball {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 40px;
}

#pong #pong-playground .brick {
    height: 50px;
    background: #fff;
    position: absolute;
}

#pong #pong-playground #ball,
#pong #pong-playground .brick {
    display: none;
    visibility: hidden;
    opacity: 0;
}

#pong #pong-playground.playState #ball,
#pong #pong-playground.playState .brick {
    display: block;
    visibility: visible;
    opacity: 1;
}

#pong #pong-playground.pauseState #racket,
#pong #pong-playground.pauseState #ball,
#pong #pong-playground.pauseState .brick {
    display: block;
    visibility: visible;
    opacity: 1;
    background: #f00;
}